<!-- templates/base.html -->
 <!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
 <html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<meta charset="utf-8">
<title>{% block title %}Django Auth Tutorial{% endblock %}</title> </head>
    <body>
        <main> {% block content %} {% endblock %} </main>
        <a href="https://www.flaticon.com/kr/free-icons/" title="괴물 아이콘">괴물 아이콘  제작자: Smash icons - Flaticon</a>
    </body>
</html>